html {
  background: linear-gradient(to bottom right, rgb(0, 170, 0), rgb(0, 255, 0)) fixed;
}

legend {
  font-size: 30px;
  font-weight: bolder;
}

#inputs-container {
  width: 600px;
  margin: 10px 0px;
}

#meme-image-container {
  background-color: white;
  border: 1px solid black;
  width: 400px;
  height: 400px;
  position: relative;
}

#meme-image {
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 0;
  }

#meme-text {
  text-shadow: black 5px 5px 5px;
  font-size: 30px;
  color: white;
  position: absolute;
  z-index: 1;
  /* https://css-tricks.com/almanac/properties/o/overflow-wrap/ */
  word-break: break-word;
}
