html {
  background: linear-gradient(to bottom right, rgb(2, 131, 2), rgb(19, 255, 19)) fixed;
}

legend {
  font-size: 30px;
  font-weight: bolder;
}

#inputs-container {
  width: 600px;
  margin: 10px 0px;
}

#meme-image-container {
  background-color: white;
  border: 1px solid black;
  height: 500px;
  width: 500px;
}
